:root {
    --footer-background-color: #1452eeeb;  
    --footer-title-color: #fff;           
    --footer-text-color: #fff;          
    --footer-icon-size: 45px;  
}

.footer{
    width: 100%;
    margin-top:50px;
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    display: grid;
    grid-template-rows: auto 1fr auto;  
    width: 100%;
    padding: 30px 20px;  
}

.footer-redes, .footer-texto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-redes img{
    width: 250px;
    height: 140px;
}

.footer-iconos {
    display: flex;
    gap: 30px;
}

.footer-iconos i {
    font-size: var(--footer-icon-size);
    color: var(--footer-title-color); 
}

.footer-texto {
    flex-direction: row;
    gap: 20px;  
}

.footer-texto ul {
    list-style-type: none; 
    padding: 0;
}

.footer-texto li {
    font-weight: 200;
    margin-top: 10px; 
}

.titulo-footer {
    font-size: 20px;
    font-weight: bold;
    color: var(--footer-title-color);
    margin-bottom: 10px; 
}

@media (max-width: 768px) {
    .footer {
        grid-template-rows: auto; 
    }

    .footer-redes, .footer-texto {
        flex-direction: column;
        gap: 20px;
    }

    .footer-iconos {
        justify-content: center;
    }
}

