:root {
    --footer-background-color: #1452eeeb;  /* Color de fondo del footer */
    --footer-title-color: #fff;            /* Color de los títulos en el footer */
    --footer-text-color: #fff;             /* Color del texto en el footer */
    --footer-icon-size: 45px;              /* Tamaño de los íconos en el footer */
}

.footer{
    width: 100%;
    margin-top:50px;
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    display: grid;
    grid-template-rows: auto 1fr auto;  /* Ajuste para que sea más adaptable */
    width: 100%;
    padding: 30px 20px;  /* Añadir padding para un espaciado interno */
}

.footer-redes, .footer-texto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-redes img{
    width: 250px;
    height: 140px;
}

.footer-iconos {
    display: flex;
    gap: 30px;
}

.footer-iconos i {
    font-size: var(--footer-icon-size);
    color: var(--footer-title-color);  /* Consistencia en el color de los íconos */
}

.footer-texto {
    flex-direction: row;
    gap: 20px;  /* Ajustar el espaciado entre listas */
}

.footer-texto ul {
    list-style-type: none;  /* Remover los estilos de lista por defecto */
    padding: 0;
}

.footer-texto li {
    font-weight: 200;
    margin-top: 10px;  /* Espaciado entre elementos de la lista */
}

.titulo-footer {
    font-size: 20px;
    font-weight: bold;
    color: var(--footer-title-color);
    margin-bottom: 10px;  /* Espaciado debajo del título */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .footer {
        grid-template-rows: auto;  /* Simplificar el layout en dispositivos móviles */
    }

    .footer-redes, .footer-texto {
        flex-direction: column;
        gap: 20px;
    }

    .footer-iconos {
        justify-content: center;
    }
}

