body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.contenedor, .panel-contenedor {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgba(246, 242, 242, 0.8);
}

.buscador, .filtro, .filtro-select {
    width: 100%;
    margin: 0;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.casa-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    background-color: rgb(77, 234, 106);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.casa-panel > div {
    flex: 1 1 100px;
    margin: 5px;
    text-align: center;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5px;
}

.boton button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #ff5722;
    color: white;
    transition: background-color 0.3s;
}

.boton button:hover {
    background-color: #e64a19;
}

.boton-insertar {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s;
}

.boton-insertar:hover {
    background-color: #388e3c;
}

.transparente {
    background-color: red !important;
    border-color: rgba(0, 0, 0, 0.1);
}

/* Estilos para pantallas medianas */
@media (max-width: 900px) {
    .casa-panel {
        flex-direction: column;
        align-items: center;
    }
    .buscador, .filtro, .panel-contenedor, .filtro-select {
        width: 90%;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .casa-panel, .buscador, .filtro, .panel-contenedor, .filtro-select {
        width: 100%;
    }
}

.chart-container {
    position: relative;
    width: 100%;
    max-width: 900px; /* Ajusta esto según tus necesidades */
    height: 500px; /* Incrementa la altura según tus necesidades */
    margin: 0 auto;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}


form {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-end;
}

form div {
    margin-bottom: 15px;
    flex: 1;
    min-width: 150px;
}

label {
    margin-left: 10px;
    font-weight: bold;
}

input[type="number"], select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.casa {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}